* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 75px;
  box-shadow: 0px 1px 9px 1px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(211, 190, 231);
}

.logoWrapper {
  margin-left: 35px;
}

.logoWrapper img {
  height: 40px;
  border-radius: 50%;
}
.userWrapper {
  margin-right: 35px;
}

.searchWrapper input {
  width: 300px;
  border-radius: 15px;
  border: none;
  height: 35px;
  padding: 5px 10px;
}

.searchWrapper input:focus {
  outline: none;
}